<!doctype html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>

    <p>Students:</p>
    <ul> 
    {% for firstname, lastname, github in students %}
        <li><a href="/student?github={{ github }}">{{ firstname }} {{ lastname }}</a></li>
    {% endfor %}
    </ul>

    <p>Projects:</p>
    <ul>
    {% for (project,) in projects %}
        <li><a href="/project?title={{ project }}">{{ project }}</a></li>
    {% endfor %}
    </ul>

<a href="/search">Search here for projects and students</a><br>
<a href="/student-add">Add student here</a>
</body>
</html>
