<!doctype html>
<html>
<head>
    <title>Project Info</title>
</head>
<body>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    <h1>{{ title }}</h1>

    <h3>Description:</h3>
    <p>{{ description }}</p>

    <h3>Maximum Grade:</h3>
    <p>{{ max_grade }}</p>

    <p>Student Grades:</p>
    <ul>
    {% for student in grades %}
        <li><a href="/student?github={{ grades[student][1] }}">{{ student }}</a> got {{ grades[student][0] }} on this project.</li>
    {% endfor %}
    </ul>

<a href="/search">Search here for projects and students</a><br>
<a href="/project-add">Add project here</a><br>
<a href="/">Homepage</a>
</body>
</html>
