<!doctype html>

<html>
<head>
  <title>Project Creation Form</title>
</head>
<body>
<form action="/project-added" method="POST">
  Project Title:
  <input type="text" name="title" required><br>
  Description:
  <input type="textarea" name="description" required><br>
  Maximum Grade:
  <input type="number" name="max-grade" required><br>
  <input type="submit" value="Submit">
</form><br>

<a href="/search">Search here for projects and students</a><br>
<a href="/student-add">Add student here</a><br>
<a href="/">Homepage</a>

</body>
</html>